body {
  color: gray;
}
.container-fluid {
  background-color: #ffff00; /*yellow*/
}
.container {
  width:900px;
  border: solid 1px black;
}
.row-header {
  height: 100px;
  background-color: #0000ff; /*blue*/
  border: solid 1px black;
}
.row-nav {
  height: 40px;
  background-color: #008000; /*green*/
  border: solid 1px black;
}
.col-lg-8 {
  height: 80px;
  background-color: #ff0000; /*red*/
  border: solid 1px black;
}
.col-lg-4 {
  height: 80px;
  background-color: #00ffff; /*aqua*/
  border: solid 1px black;
}
.col-lg-3 {
  height: 60px;
  background-color: #ffa500; /*orange*/
  border: solid 1px black;
}
.row-footer {
  height: 40px;
  background-color: #000000; /*black*/
  text: white;
  }
