.container-fluid {
  background-color: #ffff00; /*yellow*/
  padding-top: 50px;
}
.container {
  margin-bottom: 50px;
}
.header {
  height: 150px;
  padding-top: 10px;
  background-color: #0000ff; /*blue*/
  border: solid 1px black;
}
.nav {
  height: 60px;
  color: #949dac; /*dark gray*/
  padding-top: 10px;
  background-color: #008000; /*green*/
  border: solid 1px black;
}
.content {
  height: 130px;
  color: #949dac; /*dark gray*/
  padding-top: 10px;
  background-color: #ff0000; /*red*/
  border: solid 1px black;
}
.aside {
  height: 130px;
  color: #949dac; /*dark gray*/
  padding-top: 10px;
  background-color: #00ffff; /*aqua*/
  border: solid 1px black;
}
.promo {
  height: 130px;
  padding-top: 10px;
  background-color: #ffa500; /*orange*/
  border: solid 1px black;
}
.footer {
  height: 60px;
  padding-top: 10px;
  background-color: #000000; /*black*/
  color: white;
  }
  @media only screen and (min-width: 768px) {
    .header {
     background-color: #ffa500; /*orange*/
  }
    }
  @media only screen and (min-width: 875px) {
    .promo {
      background-color: purple;
    }
  }
    /*add media queries so the blocks change colors at min 768px and again at min 875px*/
